<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 9]><html xmlns="http://www.w3.org/1999/xhtml" class="ie8"><![endif]-->
<!--[if IE 9]><html xmlns="http://www.w3.org/1999/xhtml" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" class="other">
<!--<![endif]-->
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>@Model.PageTitle</title>

    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en-US" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Steven Tsvetkov's personal website, which serves as a blog and a portfolio." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="copyright" content="All right reserves 2013 - 2015 | Steven Tsvetkov" />
    <meta name="google-site-verification" content="dlReV76GYq2lkztatALHa6bxQJ3Vrc-EZkiJ03aeg-4" />
    <meta name="author" content="Steven Tsvetkov" />
    <meta name="google" content="notranslate" />
    <meta name="robots" content="all" />

    <!-- Google Analytics Track Code -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-54317021-1', 'auto');
        ga('send', 'pageview'); </script>
    <!-- End Google Analytics Track Code -->

</head>
<body>
    <header class="header-wrapper">
        <div class="video-wrapper">
            <video preload="auto" loop="" autoplay="">
                <source src="~/Videos/mountains.webm" type="video/webm" />
                <source src="~/Videos/mountains.mp4" type="video/mp4" />
            </video>
        </div>
        <div class="header-overlay">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="~/Images/Main/Logo-White.png" class="img-responsive" alt="Stev3n Logo" /></a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                            <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
                            <li>@Html.ActionLink("Contact me", "Index", "Contact")</li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="header-content container">
                <h1>Hey there!</h1>
                <h2>My name is Steven Tsvetkov and I'm a developer in training.</h2>
                <p class="interests">I'm interested in many things, such as <span class="rotate">Web Development, UX and UI Design, Linux Server Administration, Mobile Development, Penetration Testing, Entrepreneurship, Cloud Technologies </span></p>
                <ul class="buttons">
                    <li><a href="https://github.com/Stev3nT" target="_blank">Github Projects</a></li>
                    <li><a href="http://stackoverflow.com/users/3666995/stev3n" target="_blank">Stack Overflow</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="content-wrapper container">
        <div class="row">
            <div class="col-md-4 content-col">
                <img src="~/Images/Misc/studies.png" alt="Test" class="img-responsive" />
                <h1>Studies</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in leo sodales, pulvinar erat finibus, auctor tortor. Curabitur nec maximus erat. Morbi non gravida nunc, ac dictum dui. Aenean auctor imperdiet elit eget hendrerit. Praesent pulvinar, justo quis cursus vestibulum, nunc metus venenatis nibh, et facilisis tortor nulla sit amet leo.
                </p>
            </div>
            <div class="col-md-4 content-col">
                <img src="~/Images/Misc/plans.png" alt="Test" class="img-responsive" />
                <h1>Plans</h1>
                <p>
                    Mauris quis urna at nisi scelerisque tempor. Donec id dui in mauris vehicula posuere eu sit amet nisi. Vestibulum fringilla efficitur eros quis tincidunt. Pellentesque ut quam dui. Etiam ornare ligula ac gravida pellentesque. Nulla facilisi. Quisque vitae orci purus. Pellentesque eu venenatis nibh, vitae lacinia sapien. 
                </p>
            </div>
            <div class="col-md-4 content-col">
                <img src="~/Images/Misc/goals.png" alt="Test" class="img-responsive" />
                <h1>Goals</h1>
                <p>
                    Vestibulum id gravida eros, condimentum scelerisque ex. Sed elementum lectus in ante varius mollis. Phasellus dignissim metus vestibulum, ultrices orci id, vestibulum justo. Fusce viverra pretium ipsum id varius. Nulla quis orci massa. Quisque ultrices eleifend nisi et ornare. Sed dui turpis, placerat sodales lobortis vel, hendrerit nec quam. Nullam nec quam ex.
                </p>
            </div>
        </div>
    </div>

    <div style="height: 900px;">
        <p>a</p>
    </div>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
